[submodule "Vendor/spdlog"]
	path = Vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Vendor/imgui"]
	path = Vendor/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "Vendor/yaml-cpp"]
	path = Vendor/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
